<div class='container'>
  <div class='row'>
    <div class='col-md-12 offset-md-0'>
      <h1>Follower Users</h1>
      <% if @user.followers.exists? %>
        <%= render 'users/index',users: @users %>
      <% else %>
        <p>ユーザーはいません</p>
      <% end %>
      </div>
  </div>
</div>
